
<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-success btn-sm rounded-0 form-control" value="Create" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm rounded-0 form-control">
            <i class="fas fa-arrow-circle-left"></i> Go Back
        </a>
    </div>
</div>

